#btnCriar
{
   margin-left: 43%;
}
#status
{
    text-align: center;
    margin-top: 20px;
}
.coluna
{
    background-color: red;
    border: 1px solid black;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
     
   
}

#tarefas{
    height: 70%;
}

.itemTarefa{
    color: black;
    width: 90%;
    border: 1px solid black;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
    background-color: rgb(0, 255, 68);
    box-shadow: 2px 2px 5px black;
    text-align: center;
}